.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

/* Optional: smooth scrolling on mobile */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
}

/* Make header stick on horizontal scroll (optional) */
.portfolio-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

.portfolio-table {
  font-size: 15px;
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif; 
}

.portfolio-table th, .portfolio-table td {
  padding: 12px; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}

.portfolio-table th {
  border-bottom: 1px solid #868585; 
}

.portfolio-table thead th {
  background-color: #bfe7f3; 
  color: rgb(53, 48, 48);
}

.portfolio-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.portfolio-table tbody tr:hover {
  background-color: #ddd;
}

.portfolio-table td.profit {
  color: rgba(50, 124, 0, 0.842);
}

.portfolio-table td.loss {
  color: rgba(248, 0, 0, 0.842);
}

th.asc::after {
  content: '\2193'; 
  margin-left: 5px;
}

th.desc::after {
  content: "\2191";
  margin-left: 5px;
}

@media (max-width: 768px) {
  .portfolio-table th,
  .portfolio-table td {
    padding: 8px;
    font-size: 13px;
    white-space: nowrap;
  }
}