#root {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.app-root{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height:100%;
  gap:2px;
  margin: 2px;
}

.app-header{
  background-color: rgba(0, 132, 255, 0.822);
  padding: 20px 15px;
  width: 100%;
  color: black;
  border-radius: 15px;
 }

 .app-header .title{
  font-size: 48px;
 }

 .app-header .creator{
  font-size: 24px;
 }

.app-menu{
  height:35px;
  background-color: #eeea05;
  width: 100%;
  border-color: #bbb;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
}

 .app-content{
  flex-grow: 1;
  background-color: #EEEEEE;
  border-color: #bbb;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  width:100%;

  font-size: 36px;
  color: #666;
 }