#root {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
}

.app-root{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height:100%;
  gap:2px;
  margin: 2px;
}

 .app-content{
  flex-grow: 1;
  background-color: #EEEEEE;
  border-color: #bbb;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  width:100%;

  font-size: 36px;
  color: #666;
 }
 
 .totals-container label.profit {
  color: rgba(50, 124, 0, 0.842);
}

 .totals-container label.loss {
  color: rgba(248, 0, 0, 0.842);
}